In [1]:
import pandas as pd
import numpy as np

In [2]:
data= pd.read_csv('Hospital_Dataset.csv')
data.head(1)

,case_id,Hospital_code,Hospital_type_code,City_Code_Hospital,Hospital_region_code,Available Extra Rooms in Hospital,Department,Ward_Type,Ward_Facility_Code,Bed Grade,patientid,City_Code_Patient,Type of Admission,Severity of Illness,Visitors with Patient,Age,Admission_Deposit,Stay
0,3723,6,a,6,X,4,gynecology,Q,E,1.0,113127,2.0,Emergency,Moderate,4,51-60,5810.0,61-70

In [3]:
# rename columns properly
data = data.rename(columns= {'case_id' : 'case_id', 'Hospital_code': 'hospital_code', 'Hospital_region_code': 'hospital_region', 
                             'Available Extra Rooms in Hospital': 'rooms', 'Department': 'department', 'Ward_Type':'ward', 
                           'Ward_Facility_Code': 'Ward_Facility_Code', 'Bed Grade' : 'bed_grade', 'patientid': 'patient_id',
                           'City_Code_Patient': 'city_code_patient', 'Type of Admission': 'admission_type', 'Severity of Illness': 'illness_severity',
                            'Visitors with Patient': 'visitors_patient', 'age': 'age', 'Admission_Deposit': 'admission_deposit', 'Stay':'hospital_stay' })

In [22]:
# the regions. data.head()
regions = data['hospital_region'].unique()
data['hospital_region'] = data['hospital_region'].replace({'X':'eastern', 'Y': 'western', 'Z':'southern'})

In [7]:
# Hospital type
hospital_type = data['Hospital_type_code'].unique()
hospital_type_nbr = data['Hospital_type_code'].nunique()
data['Hospital_type_code'] = data['Hospital_type_code'].replace({'a':'health post', 'b': 'health center', 'c': 'medical health center',
                                                                 'd': 'district hospital', 'e': 'provoncial_hospital', 'f': 'teaching hospital',
                                                                 'g': 'refferal hospital', })

In [13]:
# name wards using meaningful names
wards = data['ward'].unique()
data['ward'] = data['ward'].replace({'Q': 'medical', 'R': 'paediatric', 'S': 'ICU', 'T': 'OPD', 'P': 'surgical'})
data.head()

,case_id,hospital_code,Hospital_type_code,City_Code_Hospital,hospital_region,rooms,department,ward,Ward_Facility_Code,bed_grade,patient_id,city_code_patient,admission_type,illness_severity,visitors_patient,Age,admission_deposit,hospital_stay
0,3723,6,health post,6,eastern,4,gynecology,medical,E,1.0,113127,2.0,Emergency,Moderate,4,51-60,5810.0,61-70
1,7102,19,health post,1,eastern,3,radiotherapy,medical,E,4.0,25461,8.0,Trauma,Minor,2,21-30,5824.0,0-10
2,134,18,health post,9,western,2,radiotherapy,ICU,B,2.0,49603,22.0,Emergency,Moderate,4,21-30,4523.0,31-40
3,5235,14,health post,1,eastern,3,gynecology,ICU,E,2.0,54657,11.0,Trauma,Extreme,4,61-70,3873.0,71-80
4,7005,11,district hospital,5,southern,3,gynecology,ICU,F,2.0,90584,7.0,Emergency,Moderate,4,51-60,4338.0,11-20

In [ ]:
# remove unnecessary columns
data = data.drop({'hospital_code', 'case_id', 'City_Code_Hospital', 'Ward_Facility_Code' })

data = data.drop({'hospital_code', 'case_id', 'City_Code_Hospital', 'Ward_Facility_Code'})

In [23]:
# remove unnecessary columns
###### data = data.drop({'hospital_code', 'case_id', 'City_Code_Hospital', 'Ward_Facility_Code'}) ######
data = data.drop(columns=[col for col in ['hospital_code', 'case_id', 'City_Code_Hospital', 'Ward_Facility_Code'] if col in data.columns])
data.head()

,Hospital_type_code,hospital_region,rooms,department,ward,bed_grade,patient_id,city_code_patient,admission_type,illness_severity,visitors_patient,Age,admission_deposit,hospital_stay
0,health post,eastern,4,gynecology,medical,1.0,113127,2.0,Emergency,Moderate,4,51-60,5810.0,61-70
1,health post,eastern,3,radiotherapy,medical,4.0,25461,8.0,Trauma,Minor,2,21-30,5824.0,0-10
2,health post,western,2,radiotherapy,ICU,2.0,49603,22.0,Emergency,Moderate,4,21-30,4523.0,31-40
3,health post,eastern,3,gynecology,ICU,2.0,54657,11.0,Trauma,Extreme,4,61-70,3873.0,71-80
4,district hospital,southern,3,gynecology,ICU,2.0,90584,7.0,Emergency,Moderate,4,51-60,4338.0,11-20

In [25]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 14 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Hospital_type_code  5000 non-null   object
 1   hospital_region     5000 non-null   object
 2   rooms               5000 non-null   int64
 3   department          5000 non-null   object
 4   ward                5000 non-null   object
 5   bed_grade           4985 non-null   float64
 6   patient_id          5000 non-null   int64
 7   city_code_patient   4974 non-null   float64
 8   admission_type      5000 non-null   object
 9   illness_severity    5000 non-null   object
 10  visitors_patient    5000 non-null   int64
 11  Age                 5000 non-null   object
 12  admission_deposit   5000 non-null   float64
 13  hospital_stay       5000 non-null   object
dtypes: float64(3), int64(3), object(8)
memory usage: 547.0+ KB

In [36]:
# there are missing values in in Two columns,
cat_col = []
num_col = []
for col in data.columns:
    if data[col].dtype == 'int64' or data[col].dtype == 'float64':
        num_col.append(col)
    elif data[col].dtype == 'object' or data[col].dtype.name == 'category':
        cat_col.append(col)

# lets impute missing values in categorical them using the mode
for col in num_col :
    mode_value = data[col].mode()[0]
    data[col].fillna(mode_value, inplace = True)

data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 14 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Hospital_type_code  5000 non-null   object
 1   hospital_region     5000 non-null   object
 2   rooms               5000 non-null   int64
 3   department          5000 non-null   object
 4   ward                5000 non-null   object
 5   bed_grade           5000 non-null   float64
 6   patient_id          5000 non-null   int64
 7   city_code_patient   5000 non-null   float64
 8   admission_type      5000 non-null   object
 9   illness_severity    5000 non-null   object
 10  visitors_patient    5000 non-null   int64
 11  Age                 5000 non-null   object
 12  admission_deposit   5000 non-null   float64
 13  hospital_stay       5000 non-null   object
dtypes: float64(3), int64(3), object(8)
memory usage: 547.0+ KB

#All missing values are now handled

In [50]:
#### city code patient is behaving like a numerical while it is categorical, so we need to change its type to object.
data['city_code_patient'].dtype
data['city_code_patient'] = data['city_code_patient'].astype('object')

In [53]:
data.to_csv()
data.to_csv('cleaned_data.csv', index=False)